.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #405D72;
}

h1 {
  margin: 30px;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 8px 0 #232931;
  font-size: 8rem;
  color: #F7E7DC;
}

p {
  font-size: 2rem;
  color: #F7E7DC;
  font-family: "Luckiest Guy", cursive;
}

img {
  width: 80%;
}

